In [1]:
import numpy as np
import pandas as pd

## Series

In [4]:
myDict = {"Irem" : 25, "Sena" : 23, "Ismail" : 54, "Selma" : 45}

In [6]:
pd.Series(myDict)

Irem      25
Sena      23
Ismail    54
Selma     45
dtype: int64

In [7]:
myAge = [25,23,54,45]
myName = ["Irem","Sena","Ismail","Selma"]

In [9]:
pd.Series(myAge)

0    25
1    23
2    54
3    45
dtype: int64

In [10]:
pd.Series(myName,myAge)

25      Irem
23      Sena
54    Ismail
45     Selma
dtype: object

In [11]:
pd.Series(data=myAge, index=myName)

Irem      25
Sena      23
Ismail    54
Selma     45
dtype: int64

In [12]:
numpyDizisi = np.array([25,23,54,45])

In [13]:
numpyDizisi

array([25, 23, 54, 45])

In [14]:
pd.Series(numpyDizisi)

0    25
1    23
2    54
3    45
dtype: int32

In [15]:
pd.Series(numpyDizisi,myName)

Irem      25
Sena      23
Ismail    54
Selma     45
dtype: int32

In [16]:
pd.Series(["Irem","Sena","Ismail","Selma"],[1,2,3,4])

1      Irem
2      Sena
3    Ismail
4     Selma
dtype: object

In [17]:
yarismaSonucu1 = pd.Series([10,5,1,4],["Irem","Sena","Ismail","Selma"])

In [18]:
yarismaSonucu1

Irem      10
Sena       5
Ismail     1
Selma      4
dtype: int64

In [20]:
yarismaSonucu2 = pd.Series([20,60,23,14],["Irem","Sena","Ismail","Selma"])

In [21]:
yarismaSonucu2

Irem      20
Sena      60
Ismail    23
Selma     14
dtype: int64

In [22]:
yarismaSonucu2["Irem"]

20

In [25]:
sonuc = yarismaSonucu1 + yarismaSonucu2 # isimler index'tir
sonuc

Irem      30
Sena      65
Ismail    24
Selma     18
dtype: int64

In [26]:
difSeries = pd.Series([20,30,40,50],["a","b","c","d"])

In [30]:
difSeries2 = pd.Series([40,50,60,70],["a","c","f","g"])

In [31]:
difSeries

a    20
b    30
c    40
d    50
dtype: int64

In [33]:
difSeries2

a    40
c    50
f    60
g    70
dtype: int64

In [34]:
difSeries + difSeries2

a    60.0
b     NaN
c    90.0
d     NaN
f     NaN
g     NaN
dtype: float64