In [1]:
import pandas as pd

In [3]:
dataFrame = pd.read_excel("Kitap1.xlsx")

In [4]:
dataFrame

  Unnamed: 0  Maas   Yas  Departman
0       Irem  2000  25.0    Yazılım
1       Sena  3000  23.0     Kalite
2      Selma  6000  45.0      Satış
3     Ismail  2000  54.0        NaN
4     Zeynep  4000   NaN  Pazarlama
5      Semih  5000  32.0     Finans
6     Filiz   2000  48.0      Hukuk
7      Tugba  1000  34.0        NaN

In [7]:
duzelmisDataFrame = dataFrame.dropna()

In [8]:
duzelmisDataFrame

  Unnamed: 0  Maas   Yas Departman
0       Irem  2000  25.0   Yazılım
1       Sena  3000  23.0    Kalite
2      Selma  6000  45.0     Satış
5      Semih  5000  32.0    Finans
6     Filiz   2000  48.0     Hukuk

In [9]:
duzelmisDataFrame.to_excel("kitap2.xlsx")

In [10]:
# excelden veri okumak için ; read_excel
#excel oluşturmak için; to_excel      komutları kullanılır